@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

@theme {

  --color-borderless-green: #28d3a0;
  --color-borderless-purple: #4814b0;
  --color-borderless-green-light: #3de6b3;
  --color-borderless-green-dark: #1fb88a;
  --color-borderless-purple-light: #5a1dd4;
  --color-borderless-purple-dark: #3a0f8a;
}
